*{
    text-transform: none;
}

.main .ProductForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:400px;
    margin:auto;
    padding: 30px;
    
}

.main .ProductForm input[type=text]{
    padding: 10px;
    width:50%;
    margin: 10px;
    border:1px solid grey;
    text-transform: none;
    outline:none;
}

.ProductForm .first,.second,.third,.fourth{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ProductForm .fourth{
    justify-content: space-around;
}

.ProductForm .imagelabel{
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    margin: 10px;
}

.fourth .featured{
    font-size: 16px;
    padding: 8px 0;
    outline: none;
}
.fourth input[type=text]{
    width: 45%;
    margin: 0 5px;
}

.submit{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 100px;
    width: 200px;
    margin: 10px auto;
}

.product-main{
    /* height: 90vh; */
    margin: 20px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}


.product-box{
    height: 300px;
    width: 300px;
    overflow-y: scroll;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 8px rgb(209, 207, 207);
}
.delete-icon{
    font-size: 20px;
    color: red;
    margin: 3px;
    border: none;
    float: right;
    border-radius: 100%;
    position:sticky;
    background: transparent;
    cursor: pointer;
}

.product-box::-webkit-scrollbar {
    display: none;
  }
.product-main::-webkit-scrollbar {
    display: none;
  }

  @media (max-width:1200px){
    .product-main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:950px){
    .product-main{
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width:786px) {
    .ProductForm .first,.second,.third,.fourth{
        flex-direction: column;
    }
    .ProductForm{
        padding: 0;
        display: block;
        margin:auto;
    }
    .main{
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .ProductForm textarea{
        margin:20px;
    }
    .ProductForm .featured{
        margin: 10px 0;
        width: 80%;
    }
    .ProductForm .fourth input[type=text]{
        width: 80%;
    }

    .ProductForm input[type=text]{
        width: 80%;
    }
    .ProductForm .imagelabel{
        width: 80%;
        margin: 10px auto;
        text-align: center;
    }
    .ProductForm .submit{
        margin: 10px 25%;
    }
    .product-main{
        grid-template-columns: 1fr;
    }
    

}
